.bc{
    position: absolute;
    top: 127px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #406C9A;
    margin-left: 80px;
}

.bc a{
    text-decoration: none;
    color: #406C9A;
}

.heading{
    position: absolute;
    width: 131px;
    height: 38px;
    top: 188px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #104781;
    margin-left: 80px;
}

.recs{
    position: absolute;
    width: 600px;
    height: 210px;
    top: 256px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #406C9A;
    margin-left: 80px;
}

.time{
    position: absolute;
    margin-left: 80px;
    padding: 0;
    width: 500px;
    height: 21px;
    top: 516px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #104781;
}

.time li{
    list-style: none;
    padding-bottom: 15px;
}

.links{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #406C9A;
    position: absolute;
    width: 700px;
    height: 84px;
    top: 659px;
    margin-left: 80px;
}

.links a{
    color: #104781;
}

.links_h{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #104781;
    position: absolute;
    width: 200px;
    height: 21px;
    top: 623px;
    margin-left: 80px;
}

#footer {
    margin-top: 685px;
}

@media (min-width: 375px) and (max-width: 720px) {

    .base_bg {
        margin-top: 685px;
    }

    .base {
        margin-top: 685px;
    }

    .heading {
        position: absolute;
        width: 90px;
        height: 26px;
        top: 161px;
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 120%;
        color: #104781;
        margin-left: 30px;
    }

    .recs{
        position: absolute;
        width: 80%;
        min-width: 325px;
        height: 187px;
        top: 217px;;
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #406C9A;
        margin-left: 30px;
    }

    .time{
        position: absolute;
        margin-left: 30px;
        padding: 0;
        width: 80%;
        min-width: 303px;
        height: 16px;
        top: 480px;
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #104781;
    }

    .time li{
        list-style: none;
        padding-bottom: 15px;
    }

    .links{
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #406C9A;
        position: absolute;
        width: 80%;
        min-width: 279px;
        height: 16px;
        top: 612px;
        margin-left: 30px;
    }

    .links_h{
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 130%;
        color: #104781;
        position: absolute;
        width: 80%;
        min-width: 134px;
        height: 16px;
        top: 572px;
        margin-left: 30px;
    }

}