.bc{
    position: absolute;
    top: 127px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #406C9A;
    margin-left: 80px;
}

.bc a{
    text-decoration: none;
    color: #406C9A;
}

.heading{
    position: absolute;
    width: 131px;
    height: 38px;
    top: 188px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #104781;
    margin-left: 80px;
}

.help_menu{
    position: absolute;
    width: 434px;
    height: 217px;
    top: 276px;
    background: #BAF3FC;
    border-radius: 15px;
    padding-left: 60px;
    padding-top: 50px;
    margin-left: 80px;
}

.help_menu ul{
    padding: 0;
}

.help_menu ul li{
    list-style: none;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #406C9A;
    padding-bottom: 15px;
}

.ep{
    position: absolute;
    width: 1160px;
    height: 90px;
    top: 543px;
    background: #BAF3FC;
    border-radius: 15px;
    margin-left: 80px;
}

.ep p{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;
    margin: 0;
    padding-left: 60px;
    padding-top: 36px;
    padding-bottom: 66px;
}

.check{
    position: absolute;
    padding-left: 28px;
    width: 500px;
    height: 200px;
    top: 663px;
    margin-left: 80px;
}



.check ul li{
    list-style: none;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #406C9A;
    padding-bottom: 15px;
}

.check ul li a{
    padding-left: 10px;
}

.cb{
    width: 17px;
    height: 17px;
    border: 1px solid #406C9A;
    border-radius: 2px;
}

.ezpText{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #406C9A;
    margin-top: 665px;
    margin-left: 140px;
}

.start_btn{
    width: 300px;
    height: 56px;
    background: #37DCF5;
    border-radius: 10px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #00345F;
    border: none;
    margin-top: 30px;
    margin-left: 140px;
}

.load{
    position: fixed;
    width: 960px;
    height: 310px;
    background: #ffffff;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07), 0 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481), 0 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185), 0 20px 13px rgba(0, 0, 0, 0.035), 0 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815), 0 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
    border-radius: 15px;
    margin-left: 170px;
    bottom: 350px;
    padding-top: 30px;
    padding-left: 83px;
    padding-right: 30px;
}

.load h3{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    color: #104781;
    margin-left: 145px;
    margin-top: 5px;
}

.load p{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;
    margin-left: 338px;
    margin-top: 30px;
}

#errorStep{
    max-width: 174px;
}

.filterRed{
    filter: invert(27%) sepia(86%) saturate(7482%) hue-rotate(356deg) brightness(97%) contrast(119%);
}

#loadingStatus:after {
    content: ' .';
    animation: dots 1s steps(5, end) infinite;}

@keyframes dots {
    0%, 20% {
        color: rgba(0,0,0,0);
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);}
    40% {
        color: #104781;
        text-shadow:
                .25em 0 0 rgba(0,0,0,0),
                .5em 0 0 rgba(0,0,0,0);}
    60% {
        text-shadow:
                .25em 0 0 #104781,
                .5em 0 0 rgba(0,0,0,0);}
    80%, 100% {
        text-shadow:
                .25em 0 0 #104781,
                .5em 0 0 #104781;}}

.crossLoad{
    width: 15px;
    height: 15px;
    float: right;
    cursor: pointer;
}

.loadBar{
    display: inline-flex;
    margin-top: 29px;
}

.loadBar img{
    margin: 0;
    padding: 0;
    opacity: 0.2;
}

.loadText{
    display: inline-flex;
    gap: 48px;
}

.loadText span{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #406C9A;
}

#footer {
    margin-top: 90px;
}


@media (min-width: 375px) and (max-width: 720px) {

    .base_bg {
        margin-top: 554px;
    }

    .base{
        margin-top: 554px;
    }

    .heading{
        position: absolute;
        width: 90px;
        height: 26px;
        top: 161px;
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 700;
        font-size: 22px;
        line-height: 120%;
        color: #104781;
        margin-left: 30px;
    }

    .help_menu{
        position: absolute;
        width: 80%;
        min-width: 355px;
        height: 117px;
        top: 217px;
        background: #BAF3FC;
        border-radius: 15px;
        padding-left: 20px;
        padding-top: 20px;
        margin-left: 10px;
    }

    .help_menu ul li{
        list-style: none;
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        color: #406C9A;
        padding-bottom: 7px;
    }

    .ep{
        position: absolute;
        width: 80%;
        min-width: 355px;
        height: 74px;
        top: 364px;
        background: #BAF3FC;
        border-radius: 15px;
        margin-left: 10px;
    }

    .ep p{
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 100%;
        color: #104781;
        margin: 0;
        padding-left: 20px;
        padding-top: 30px;
        padding-bottom: 50px;
    }

    .check {
        display: none;
    }

    .txth {
        position: absolute;
        width: 80%;
        min-width: 292px;
        height: 51px;
        margin-left: 30px;
        top: 458px;

        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 120%;
        /* or 17px */


        color: #406C9A;
    }

}

