.help-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0 90px 0;
    gap: 50px;
}

.help-navigation {
    background: #BAF3FC;
    border-radius: 15px;
    padding: 50px 60px;
    color: #406C9A;
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 18px;
}

.help-navigation a {
    text-decoration: none;
}

.help-section {
    width: 1160px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.help-section h2 {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;
}

.section-heading {
    padding: 36px 60px;
    width: calc(1160px - 120px);
    background: #baf3fc;
    border-radius: 15px;
}

.section-text {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-text p, .section-heading h2, .help-section p {
    margin: 0;
    color: #104781;
}

.section-text span {
    color: #406C9A;
}

.navigation-container {
    width: 1160px;
    display: inline-flex;
}

.help-section p, .help-section span {
    padding-left: 60px;
    max-width: 50%;
}

@media (max-width: 1160px) {

    .help-section {
        width: 100%;
    }

    .section-heading {
        width: calc(100% - 40px);
    }

    .help-section p, .help-section span {
        padding:  0 20px;
        max-width: 100%;
    }

    .section-heading {
        padding: 30px 20px;
        font-size: 14px;
    }

    .help-navigation {
        font-size: 14px;
        padding: 20px;
        gap: 7px;
        width: calc(100% - 40px);
    }

    .help-content {
        padding: 45px 10px;
        width: calc(100% - 20px);
    }
    .navigation-container {
        width: 100%;
    }
}
