

.ogl {position: absolute;
    width: 800px;
    height: 16px;
    margin-left: 80px;
    top: 127px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;

    color: #406C9A;
    text-decoration: none;


}

.zaiavka {position: absolute;
    width: 657px;
    height: 38px;
    margin-left: 80px;
    top: 188px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    /* or 38px */


    color: #104781;}

.table_org {position: absolute;
    width: 1160px;
    height: 3100px;
    margin-left: 80px;
    top: 276px;

    background: #BAF3FC;
    border-radius: 15px;}

.obshie_dan {position: absolute;
    width: 231px;
    height: 18px;
    left: 60px;
    top: 50px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #104781;}

.data_vrem {position: absolute;
    width: 250px;
    height: 50px;
    left: 60px;
    top: 136px;

    background: #FFFFFF;
    border-radius: 10px;}

.time {position: absolute;
    width: 125px;
    height: 50px;
    left: 335px;
    top: 136px;

    background: #FFFFFF;
    border-radius: 10px;}

.time2 {position: absolute;
    width: 125px;
    height: 50px;
    left: 335px;
    top: 322px;

    background: #FFFFFF;
    border-radius: 10px;}

.time3 {position: absolute;
    width: 125px;
    height: 50px;
    left: 785px;
    top: 322px;

    background: #FFFFFF;
    border-radius: 10px;}

.time4 {position: absolute;
    width: 125px;
    height: 50px;
    left: 335px;
    top: 440px;

    background: #FFFFFF;
    border-radius: 10px;}

.time5 {position: absolute;
    width: 125px;
    height: 50px;
    left: 785px;
    top: 440px;

    background: #FFFFFF;
    border-radius: 10px;}

.time6 {position: absolute;
    width: 125px;
    height: 50px;
    left: 335px;
    top: 558px;

    background: #FFFFFF;
    border-radius: 10px;}


.povestka_dnia {position: absolute;
    width: 590px;
    height: 50px;
    left: 510px;
    top: 136px;

    background: #FFFFFF;
    border-radius: 10px;}

.inf_ob_sobr {position: absolute;
    width: 323px;
    height: 18px;
    left: 60px;
    top: 236px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #104781;}

.vnimanie {position: absolute;
    width: 227px;
    height: 16px;
    left: 410px;
    top: 238px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    /* identical to box height, or 16px */


    color: #406C9A;}

.data_vrem2 {position: absolute;
    width: 250px;
    height: 50px;
    left: 60px;
    top: 322px;

    background: #FFFFFF;
    border-radius: 10px;}

.data_vrem3 {position: absolute;
    width: 250px;
    height: 50px;
    left: 510px;
    top: 322px;

    background: #FFFFFF;
    border-radius: 10px;}

.data_vrem4 {position: absolute;
    width: 250px;
    height: 50px;
    left: 60px;
    top: 440px;

    background: #FFFFFF;
    border-radius: 10px;}

.data_vrem5 {position: absolute;
    width: 250px;
    height: 50px;
    left: 510px;
    top: 440px;

    background: #FFFFFF;
    border-radius: 10px;}

.data_vrem6 {position: absolute;
    width: 250px;
    height: 50px;
    left: 60px;
    top: 558px;

    background: #FFFFFF;
    border-radius: 10px;}

.obem_sobr {position: absolute;
    width: 400px;
    height: 50px;
    left: 510px;
    top: 558px;

    background: #FFFFFF;
    border-radius: 10px;}

.dan_org_sobr {position: absolute;
    width: 280px;
    height: 18px;
    left: 60px;
    top: 658px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */
    color: #104781}

input{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #406C9A;
}

input::placeholder{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #406C9A;
}

.unn {position: absolute;
    width: 400px;
    height: 50px;
    left: 60px;
    top: 744px;

    background: #FFFFFF;
    border-radius: 10px;}

.ogrn {position: absolute;
    width: 590px;
    height: 50px;
    left: 510px;
    top: 744px;

    background: #FFFFFF;
    border-radius: 10px;}

.naim_org {position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 862px;

    background: #FFFFFF;
    border-radius: 10px;}

.qr_adres {position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 980px;

    background: #FFFFFF;
    border-radius: 10px;}

.pocht_adres {position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 1098px;

    background: #FFFFFF;
    border-radius: 10px;}

.poln_naim {position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 2253px;

    background: #FFFFFF;
    border-radius: 10px;}

.qr_adres2 {position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 2371px;

    background: #FFFFFF;
    border-radius: 10px;}

.pocht_adres3 {position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 2489px;

    background: #FFFFFF;
    border-radius: 10px;}

.unn4 {position: absolute;
    width: 400px;
    height: 50px;
    left: 60px;
    top: 2607px;

    background: #FFFFFF;
    border-radius: 10px;}

.ogrn3 {position: absolute;
    width: 590px;
    height: 50px;
    left: 510px;
    top: 2607px;

    background: #FFFFFF;
    border-radius: 10px;}

.efrsb_txt {position: absolute;
    width: 330px;
    height: 18px;
    left: 60px;
    top: 1198px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #104781;}

.efrsb {position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 1284px;

    background: #FFFFFF;
    border-radius: 10px;}

.data_razm {position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 1402px;

    background: #FFFFFF;
    border-radius: 10px;}

.kontaktu {position: absolute;
    width: 443px;
    height: 18px;
    left: 60px;
    top: 1502px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;}

.telefon{position: absolute;
    width: 400px;
    height: 50px;
    left: 60px;
    top: 1588px;

    background: #FFFFFF;
    border-radius: 10px;}

.email {position: absolute;
    width: 590px;
    height: 50px;
    left: 510px;
    top: 1588px;

    background: #FFFFFF;
    border-radius: 10px;}

.sved_o_proc {position: absolute;
    width: 310px;
    height: 18px;
    left: 60px;
    top: 1688px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #104781;}

.under{
    position: absolute;
    margin-top: -100px;
}

.naim_abr_sud {position: absolute;
    width: 650px;
    height: 50px;
    left: 60px;
    top: 1769px;

    background: #FFFFFF;
    border-radius: 10px;}

.nomer_dela {position: absolute;
    width: 340px;
    height: 50px;
    left: 760px;
    top: 1769px;

    background: #FFFFFF;
    border-radius: 10px;}

.osn_dlia_sobr {position: absolute;
    width: 1040px;
    height: 100px;
    left: 60px;
    top: 1887px;

    background: #FFFFFF;
    border-radius: 10px;}

.dolzhnik {position: absolute;
    width: 80px;
    height: 18px;
    left: 60px;
    top: 2037px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #104781;}

.obem_drop{
    position: absolute;
    width: 400px;
    height: 126px;
    margin-left: 590px;
    top: 898px;
    background: #FFFFFF;
    box-shadow: 0px 6px 12px rgba(16, 71, 129, 0.1);
    border-radius: 10px;
    padding-top: 18px;
}

.obem_drop ul{
    padding: 0;
}

.obem_drop ul li{
    list-style: none;
    width: 100%;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #406C9A;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 25px;
}

.obem_drop ul li:hover{
    background: #BAF3FC;
}

.tip_dolzh {position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 2123px;

    background: #FFFFFF;
    border-radius: 10px;}

.unn2 {position: absolute;
    width: 300px;
    height: 50px;
    left: 410px;
    top: 2123px;

    background: #FFFFFF;
    border-radius: 10px;}

.ogrn2 {position: absolute;
    width: 340px;
    height: 50px;
    left: 760px;
    top: 2123px;

    background: #FFFFFF;
    border-radius: 10px;}

.naim_dolzh {position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 2241px;

    background: #FFFFFF;
    border-radius: 10px;}

.obem_sobr img{
    position: absolute;
    left: 365px;
    top: 20px;
}

#doks {position: absolute;
    width: 613px;
    height: 18px;
    left: 60px;
    top: 2341px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */


    color: #104781;}

.ud_lich {position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 2389px;

    background: #FFFFFF;
    border-radius: 10px;}


.ud_ruk {position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 2469px;

    background: #FFFFFF;
    border-radius: 10px;}

.txt_obsh {
    position: absolute;
    width: 800px;
    height: 18px;
    left: 0px;
    top: -40px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #406C9A;
}

.forms {  padding:12px;
    width: 400px;
    height: 50px;
    border-radius:10px;
}

.forms:focus{
    outline: none;
}


.forms2 {
    padding:12px;
    width: 1040px;
    height: 50px;

    border-radius:10px;
    margin-bottom: 15px;
}

.forms2:focus{
    outline: none;
}


.forms3 {  padding:12px;
    width: 590px;
    height: 50px;

    border-radius:10px;
}

.forms3:focus{
    outline: none;
}


.forms4 {
    padding:12px;
    width: 300px;
    height: 50px;

    border-radius:10px;


}
.forms4:focus{
    outline: none;
}


.forms5 {  padding:12px;
    width: 250px;
    height: 50px;

    border-radius:10px;

}

.forms5:focus{
    outline: none;
}

.forms6 {  padding:12px;
    width: 125px;
    height: 50px;

    border-radius:10px;

}

.forms6:focus{
    outline: none;
}

.forms7 {  padding:12px;
    width: 700px;
    height: 50px;

    border-radius:10px;

}

.forms7:focus{
    outline: none;
}

.forms8 {  padding:12px;
    width: 650px;
    height: 50px;

    border-radius:10px;
    ;}

.forms8:focus{
    outline: none;
}

.forms9 {  padding:12px;
    width: 340px;
    height: 50px;

    border-radius:10px;

}

.forms9:focus{
    outline: none;
}

.forms10 {  padding:12px;
    width: 1040px;
    height: 100px;
    border-radius:10px;
padding-bottom: 67px;
}

.forms10:focus{
    outline: none;
}



.famil {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 60px;
    top: 2253px;
    background: #FFFFFF;
    border-radius: 10px;
}

.name {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 410px;
    top: 2253px;
    background: #FFFFFF;
    border-radius: 10px;
}

.otch {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 760px;
    top: 2253px;
    background: #FFFFFF;
    border-radius: 10px;
}

.pcht_adres2 {
    position: absolute;
    width: 1040px;
    height: 50px;
    left: 60px;
    top: 2371px;

    background: #FFFFFF;
    border-radius: 10px;
}

.codorg {
    position: absolute;
    width: 590px;
    height: 50px;
    left: 510px;
    top: 2489px;
    background: #FFFFFF;
    border-radius: 10px;
}

.unn2 {
    position: absolute;
    width: 400px;
    height: 50px;
    left: 60px;
    top: 2489px;
    background: #FFFFFF;
    border-radius: 10px;
}
.codorg2 {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 410px;
    top: 2489px;
    background: #FFFFFF;
    border-radius: 10px;
}

.unn3 {
    position: absolute;
    width: 300px;
    height: 50px;
    left: 60px;
    top: 2489px;
    background: #FFFFFF;
    border-radius: 10px;
}

.ogrnip {
    position: absolute;
    width: 340px;
    height: 50px;
    left: 760px;
    top: 2489px;
    background: #FFFFFF;
    border-radius: 10px;
}

.knopka {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 60px;
    top: 2470px;
    background: #BAF3FC;
    border-radius: 10px;
    border: 1px solid #00345F;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #00345F
}

.dop_doks {position: absolute;
    width: 368px;
    height: 18px;
    left: 60px;
    top: 2550px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;}

.dop_doks_txt {position: absolute;
    width: 425px;
    height: 105px;
    left: 60px;
    top: 2597px;

    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #406C9A;}

.doks_img {position: absolute;
    width: 94px;
    height: 94px;
    left: 600px;
    top: 2600px;}

.prek_dok {
    position: absolute;
    width: 194px;
    height: 18px;
    left: 709px;
    top: 2615px;
    cursor: pointer;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    /* identical to box height, or 18px */

    text-decoration-line: underline;

    color: #104781;
}

.add_docs{
    font-family: 'Exo 2';
    position: absolute;
    width: 520px;
    height: 401px;
    margin-top: 2700px;
    margin-left: 370px;
    background: #FFFFFF;
    box-shadow: 0 100px 80px rgba(0, 0, 0, 0.07), 0 64.8148px 46.8519px rgba(0, 0, 0, 0.0531481), 0 38.5185px 25.4815px rgba(0, 0, 0, 0.0425185), 0 20px 13px rgba(0, 0, 0, 0.035), 0 8.14815px 6.51852px rgba(0, 0, 0, 0.0274815), 0 1.85185px 3.14815px rgba(0, 0, 0, 0.0168519);
    border-radius: 15px;
    z-index: 999;
    padding-top: 50px;
    text-align: center;
}

.add_docs p{
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 120%;
    text-align: center;
    color: #104781;
}

.add_docs img{
    margin-right: 15px;
}

.add_docs label{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    text-decoration-line: underline;
    color: #104781;
    cursor: pointer;
}

.add_docs label input{
    margin-top: 35px;
    margin-bottom: 35px;
}

.add_docs input{
    border: none;
}

#doc{
    text-align: center;
}

.docs_tbl{
    position: absolute;
    width: 1040px;
    height: auto;
    margin-left: 60px;
    margin-top: 2830px;
}

.docs_tbl tr td{
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #406C9A;
    border: 1px solid #104781;
    border-collapse: collapse;
    padding: 18px;
}

.upl{
    width: 400px;
    height: 55px;
    background: #37DCF5;
    border-radius: 10px;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    color: #00345F;
    margin-top: 35px;
    margin-bottom: 15px;
}

.add_docs h6{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #406C9A;
    text-decoration: none;
    cursor: pointer;
}

.povestka_drop{
    position: absolute;
    left: 60px;
    top: 2800px;
}

.povestka_drop input{
    width: 1040px;
    height: 100px;
    border-radius: 10px;
    margin-bottom: 50px;
    padding-bottom: 67px;
    padding-left: 17px;
    border: none;
}

#enter_q:focus{
    outline: none;
}

.q_tbl{
    height: auto;
    margin-bottom: 30px;
}

.q_tbl tr td{
    width: 1040px;
    height: 50px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #406C9A;
    border: 1px solid #104781;
    border-collapse: collapse;
    padding: 18px;
}

.table_fio tr td{
    width: 1040px;
    height: 50px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #406C9A;
    border: 1px solid #104781;
    border-collapse: collapse;
    padding: 18px;
}

.save_btn {
    width: 250px;
    height: 50px;
    border: 1px solid #00345F;
    border-radius: 10px;
    background-color: #BAF3FC;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #00345F;
    margin-left: 790px;
}

.voprosu {position: absolute;
    width: 196px;
    height: 18px;
    left: 60px;
    top: 2700px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;
}

.knopka2 {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 60px;
    top: 2740px;
    background: #BAF3FC;
    border-radius: 10px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    border: 1px solid #00345F;
    color: #00345F;
}

.uved {
    position: absolute;
    width: 219px;
    height: 18px;
    left: 60px;
    top: 2990px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;
}

.nim_cod {position: absolute;
    width: 700px;
    height: 50px;
    left: 60px;
    top: 2900px;

    background: #FFFFFF;
    border-radius: 10px;}

.knopka3 {
    position: absolute;
    width: 250px;
    height: 50px;
    left: 850px;
    top: 2900px;
    background: #BAF3FC;
    border-radius: 10px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    border: 1px solid #00345F;
    color: #00345F;
}

.table_fio {position: absolute;
    width: 1040px;
    left: 60px;
    top: 2990px;
    background: #BAF3FC;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #406C9A;
}

.tip_dolzh img{
    position: absolute;
    left: 1008px;
    margin-top: 20px;
}

#tip_dolzh{
    width: 1040px;
}

.dolg_drop{
    position: absolute;
    width: 1040px;
    height: 126px;
    margin-left: 140px;
    top: 2469px;
    background: #FFFFFF;
    box-shadow: 0 6px 12px rgba(16, 71, 129, 0.1);
    border-radius: 10px;
    padding-top: 18px;
}

.dolg_drop ul{
    padding: 0;
}

.dolg_drop ul li{
    list-style: none;
    width: 100%;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #406C9A;
    padding-bottom: 7px;
    padding-top: 7px;
    padding-left: 25px;
}

.dolg_drop ul li:hover{
    background: #BAF3FC;
}

.knopka4 {position: absolute;
    width: 439px;
    height: 55px;
    left: 116px;
    top: 3090px;

    background: #37DCF5;
    border-radius: 10px;



    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    /* or 18px */

    text-align: center;

    color: #00345F;
}

.knopka5 {position: absolute;
    width: 439px;
    height: 55px;
    left: 605px;
    top: 3090px;

    background: #BAF3FC;
    border-radius: 10px;
    font-family: 'Exo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    border: 1px solid #00345F;

    text-align: center;

    color: #00345F;
}

.base{
    margin-top: 3500px;
}

.base_bg{
    margin-top: 3500px;
}

