.all-meetings {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px 0 90px 0;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-width: 1160px;
}

.stats-bar {
    min-width: calc(1160px - 120px);
    background: #BAF3FC;
    border-radius: 15px;
    display: inline-flex;
    justify-content: space-between;
    padding: 35px 60px 35px 60px;
}

.stats-bar h4 {
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;
    margin: 0;
}

.stats-bar p {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #406C9A;
    margin: 0;
}

.stats {
    display: inline-flex;
    gap: 60px;
}

#meetings {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.meeting {
    padding: 25px 80px 25px 60px;
    display: inline-flex;
    min-width: calc(1160px - 140px);
    height: fit-content;
    background: rgba(230, 251, 254, 0.7);
    border: 1px solid rgba(186, 243, 252, 0.5);
    box-shadow: 0 6px 12px rgba(16, 71, 129, 0.1);
    border-radius: 15px;
    justify-content: space-between;
    cursor: pointer;
}

.card-section-1 {
    display: flex;
    flex-direction: column;
    gap: 45px;
}

.card-section-1 h4 {
    margin: 0;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    color: #104781;
}

.bottom-info {
    display: inline-flex;
    justify-content: space-between;
    min-width: 650px;
}

.meeting-info-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.meeting-info-col h6 {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    color: #406C9A;
    margin: 0;
}

.meeting-info-col p{
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #104781;
    margin: 0;
}

.vertical-line {
    width: 1px;
    opacity: 0.4;
    background: #104781;
}

.card-section-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.meetings-tools {
    display: inline-flex;
    justify-content: space-between;
    min-width: 1060px;
    align-items: center;
}

.sort {
    display: inline-flex;
    color: #104781;
    font-size: 18px;
}

.sort-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sort-text {
    display: inline-flex;
    gap: 10px;
    color: #104781;
    cursor: pointer;
}

.sort-text p {
    margin: 0;
}

.sort-dropdown {
    min-width: 200px;
    padding: 18px 0 18px 0;
    background: #FFFFFF;
    box-shadow: 0 6px 12px rgba(16, 71, 129, 0.1);
    border-radius: 10px;
    position: absolute;
    margin-top: 33px;
    z-index: 999;
}

.sort-dropdown p {
    color: #406C9A;
    padding: 7px 0 7px 25px;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
}

.sort-dropdown p:hover {
    background: #BAF3FC;
}

.search {
    display: inline-flex;
    gap: 10px;
    cursor: pointer;
}

.search p {
    margin: 0;
    font-weight: 600;
}

.search-dropdown {
    display: flex;
    flex-direction: column;
    background: #BAF3FC;
    border-radius: 15px;
    padding: 50px;
    min-width: calc(1160px - 129px);
    gap: 30px;
    margin-top: 30px;
}

.search-dropdown button {
    background: #37DCF5;
    border-radius: 10px;
    width: 160px;
    height: 55px;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    text-align: center;
    color: #00345F;
    border: none;
}

.search-dropdown input, .search-dropdown textarea {
    height: 50px;
    background: #FFFFFF;
    border-radius: 10px;
    border: none;
    padding-left: 17px;
}

.search-dropdown textarea {
    resize: none;
    padding-top: 17px;
    height: 33px;
}

.search-dropdown input::placeholder, .search-dropdown textarea::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #406C9A;
}

.search-dropdown input:focus, .search-dropdown textarea:focus {
    outline: none;
}

.search-dropdown label {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #406C9A;
}

.dropdown-row-1 {
    display: inline-flex;
    justify-content: space-between;
    color: #104781;
    font-weight: 600;
    font-size: 18px;
}

.dropdown-row-1 h3 {
    margin: 0;
}

.dropdown-row-1 img {
    cursor: pointer;
}

.dropdown-row-2 {
    display: inline-flex;
    justify-content: space-between;
}

.input-s, .input-m, .input-l, .dropdown-date, .dropdown-select {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-s input {
    min-width: 400px;
}

.input-m input {
    min-width: 590px;
}

.input-l textarea {
    min-width: 1040px;
}

.dropdown-row-3 {
    display: inline-flex;
    justify-content: space-between;
}

.date-input-row, .dropdown-select-row {
    display: inline-flex;
    gap: 50px;
}

.date-input {
    display: inline-flex;
    gap: 12px;
    align-items: center;
}

.date-input span {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    color: #406C9A;
}

.date-input input {
    min-width: 129px;
    padding-right: 17px;
}

.date-input input::placeholder {
    color: #406C9A;
}

.search-select {
    min-width: calc(270px - 34px);
    height: calc(50px - 34px);
    background: #FFFFFF;
    border-radius: 10px;
    display: inline-flex;
    padding: 17px;
    justify-content: space-between;
}

.search-select p {
    margin: 0;
    color: #406C9A;
}

.search-btn {
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

#searchFrom, #searchUntil {
    color: #406C9A;
}

.select-options {
    min-width: 270px;
    padding: 18px 0 18px 0;
    background: #FFFFFF;
    box-shadow: 0 6px 12px rgba(16, 71, 129, 0.1);
    border-radius: 10px;
    position: absolute;
    z-index: 999;
}

.select-options p {
    color: #406C9A;
    padding: 7px 0 7px 25px;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
}

.select-options p:hover {
    background: #BAF3FC;
}

.custom-select {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

@media (max-width: 1160px) {
    .all-meetings {
        padding: 45px 10px 45px 10px;
        width: calc(100% - 20px);
    }

    .stats-bar {
        min-width: auto;
        width: calc(100% - 40px);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px;
        gap: 15px;
    }

    .stats {
        display: flex;
        flex-direction: column;
        gap: 7px;
    }

    #meetings {
        width: 100%;
    }

    .meeting {
        padding: 20px;
        display: inline-flex;
        min-width: calc(100% - 40px);
        height: fit-content;
        justify-content: flex-start;
    }

    .card-section-1 {
        gap: 15px;
        max-width: 170px;
    }

    .bottom-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: auto;
        gap: 15px;
    }

    .meeting-info-col {
        gap: 7px;
    }

    .vertical-line {
        display: none;
    }

    .card-section-2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        gap: 15px;
    }

    .meetings-tools {
        min-width: 100%;
    }

    .sort-text {
        font-size: 14px;
        gap: 5px;
    }

    .search-dropdown {
        min-width: calc(100% - 40px);
        padding: 30px 20px;
    }

    .input-s input, .input-m input, .input-l textarea, input {
        min-width: auto;
    }

    .input-s, .input-m, .input-l, .dropdown-date, .dropdown-select {
        gap: 10px;
    }

    .input-l textarea {
        height: 100px;
    }

    .dropdown-row-2, .dropdown-row-3, .date-input-row, .dropdown-select-row {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .search-dropdown label {
        font-size: 14px;
    }

    .date-input {
        justify-content: space-between;
    }

    .date-input input {
        min-width: auto;
    }

    #searchFrom, #searchUntil {
        min-width: 80%;
        font-size: 14px;
        color: #406C9A;
    }

    .search-dropdown input::placeholder, .search-dropdown textarea::placeholder {
        font-size: 14px;
    }

    .search-select img {
        width: 15px;
    }
}




